*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    background: url(./images/f1_1.jpg) no-repeat center 0;

    /* 缩放背景图 */

    /* 图片等比例缩放，当宽度或高度和盒子尺寸相等，图片就不再缩放 */
    /* background-size:contain ; */

    /* 图片等比例缩放，图片完全覆盖到整个盒子，可能导致图片显示不全 */
    background-size: cover;
    
}
/* img 引入图片，控制位置 
定义动画，使用动画*/
.cloud img{
    position: absolute;
    left: 50%;
    top: 0;
}
.cloud img:nth-child(1){
    margin-left: -300px;
    top: 20px;
    animation: cloud 2s linear alternate infinite;
}
.cloud img:nth-child(2){
    margin-left: 400px;
    top: 100px;
    animation: cloud 2s linear alternate 0.2s infinite;
}

.cloud img:nth-child(3){
    margin-left: -550px;
    top: 200px;
    animation: cloud 2s linear alternate 0.4s infinite;
}
/* 云移动 */
@keyframes cloud {
    to{
        transform: translateX(20px);
    }
    
}
.qiqiu img{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80px;
}
.qiqiu img:nth-child(1){
    margin-left: -300px;
    bottom: 530px;
    animation: shangxia 1s linear infinite .3s alternate;
}
.qiqiu img:nth-child(2){
    margin-left: -300px;
    bottom: 50px;
    animation: shangxia 1s linear infinite alternate ;
}
.qiqiu img:nth-child(3){
    margin-left: -100px;
    bottom: 50px;
    animation: shangxia 1s linear infinite .2s alternate;
}
.qiqiu img:nth-child(4){
    margin-left: 100px;
    bottom: 50px;
    animation: shangxia 1s linear infinite alternate;
}
.qiqiu img:nth-child(5){
    margin-left: 300px;
    bottom: 50px;
    animation: shangxia 1s linear infinite .2s alternate;
}
@keyframes shangxia {
    to{
        transform: translateY(-20px);
    }
    
}







