@font-face {
  font-family: "iconfont"; /* Project id 3528921 */
  src: url('iconfont.woff2?t=1658112272381') format('woff2'),
       url('iconfont.woff?t=1658112272381') format('woff'),
       url('iconfont.ttf?t=1658112272381') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e63b";
}

.icon-arrow-down-bold:before {
  content: "\e686";
}

